body{
    margin: 0;
    padding: 150px 20px;
    background-color: black;
    overflow-y: hidden;
}
.div1{
    margin-left: 100px;
}
.div2{
    padding: 65px 85px;
    display: inline-block;
    background-color: gray;
    margin-left: 160px;
    border-radius: 25px;
}
.div2 .img1{
    border-radius: 50%;
}
.p1{
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}
.div3{
    padding: 65px 85px;
    display: inline-block;
    background-color: gray;
    margin-left: 80px;
    border-radius: 25px;
}
.div3 .img2{
    border-radius: 50%;
}
.p2{
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    margin-left: 20px;
}
.div4{
    padding: 65px 85px;
    display: inline-block;
    background-color: gray;
    margin-left: 60px;
    border-radius: 25px;
}
.div4 .img3{
    border-radius: 50%;
}
.p3{
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    margin-left: 20px;
}
.logo{
    display: inline-block;
   padding-left: 250px;
    color: white;
}
.logo i{
    margin-top: 150px;
    font-size: 28px;
    padding-left: 50px;
}
.logo  .fa-microphone-slash{
    border-radius: 20%;
}
.next{
    color: white;
    margin-left: 750px;
    margin-top: -180px;
}
#one{
    padding-top: -60px;
}

/* media query*/

@media screen and (max-width: 1200px) {
    body{
        height: 600px !important;
    }
    *{
        overflow-x: hidden;
    }
    .div1{
        margin-left: -125px !important;
    }
    .logo{
        margin-left: 100px !important;
    }
    .next{
        margin-left: 70px !important;
        padding-top: 100px !important;
    }
}
@media screen and (max-width: 800px){
    body{
        height: 900px !important;
    }
    *{
        overflow-x: hidden;
    }
    .div1{
        margin-top: -40px !important;
        margin-left: 10px !important;
    }
    .div2{
        width: 230px !important;
        padding: 15px 25px !important;
        display: block !important;
        background-color: gray;
        margin-left: 230px;
        border-radius: 25px !important;
    }
    .div2 .img1{
        margin-left: 35px !important ;
        border-radius: 50%;
    }
    .div3{
        position: absolute;
        margin-top: 25px !important;
        width: 230px !important;
        padding: 15px 25px !important;
        display: block !important;
        background-color: gray;
        margin-left: 230px;
        border-radius: 25px !important;
    }
    .div3 .img2{
        margin-left: 35px !important;
        border-radius: 50%;
    }
    .div4{
        margin-top: 285px !important;
        width: 230px !important;
        padding: 15px 25px !important;
        display: block !important;
        background-color: gray;
        margin-left: 220px;
        border-radius: 25px !important;
    }
    .div4 .img3{
        margin-left: 35px !important;
        border-radius: 50%;
    }
    .logo{
        display: inline-block;
       padding-left: 80px !important;
        color: white;
        margin-top: -50px !important;
    }
    .logo i{
        font-size: 25px;
        padding-left: 30px !important;
    }
    .next{
        color: white;
        margin-left: 70px !important;
        margin-top:-130px !important;
    }
}
@media screen and (max-width: 568px){
    *{
        overflow-x: hidden;
    }
    body{
        height: 900px !important;
    }
    .div1{
        margin-left: -100px !important;
    }
    .logo{
        display: inline-block;
        padding-left: -10px;
        color: white;
        margin-top: -50px !important;
    }
}